.footer {
  background-color: black;
  &__left {
    display: flex;
    color: $c-footer;
    justify-content: center;
    &-title {
      font-family: $f-logo;
      font-size: $m-text * 6;
      color: gray;
    }
    &-subtitle {
      font-size: $m-text * 2;
      align-self: center;
      margin-left: 1rem;
      color: gray;
    }
  }
  &__right {
    display: flex;
  }
  &__nav {
    align-items: center;
    width: 100%;
    text-align: center;
    &-link {
      color: $c-text;
      font-size: $m-text * 3;
    }
  }
}