.header {
  @include header;
  &__logo {
    font-size: $m-text * 6;
    font-family: $f-logo;
    margin-left: 2rem;
  }
  &__menu {
    &-list {
      margin: 0 2rem;
      font-size: $m-text * 3;
      font-family: $f-menu;
    }
    &-donar:hover {
      text-decoration: underline;
    }
    &-btn-user-1 {
      display: none;
      margin: 0 1rem;
      @media screen and (max-width: 768px) {
        display: block;
      }
      @media screen and (max-width: 575px) {
        display: none;
      }
    }
    &-btn-user-2 {
      display: flex;
      align-items: center;
      margin: 0.5rem 2rem;
      @media screen and (max-width: 768px) {
        display: none;
      }
      @media screen and (max-width: 575px) {
        display: block;
      }
    }
  }
  &__submenu {
    width: 100%;
    &-link:hover {
      text-align: center;
    }
  }
  .navbar-toggler {
    border: 1px solid white;
  }
}