.main {
  &__publicity {
    border: 1px solid black;
    &-fgure--lateral {
      height: 100vh;
    }
    &-figure--medio {
      @media screen and (min-width: 800px) {
        height: 10rem;
      }
      @media screen and (max-width: 800px) {
        height: 5rem;
      }
    }
  }
  &__aside {
    &-nav {
      background-color: white;
    }
    &-link {
      transition: 0.3s;
    }
    &-link:hover {
      box-shadow: 0px 0px 1px 2px gray;
      transform: scale(1.05);
      transition: 0.3s;
      text-align: center;
    }
  }
  &__rs {
    &-title {
      font-size: $m-text * 4;
      font-family: $f-aside;
    }
    &-img {
      width: 3.5rem;
      height: 3.5rem;
      transition: 0.3s;
    }
    &-img:hover {
      box-shadow: 0px 0px 1px 2px gray;
      transform: scale(1.05);
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

.section {
  &__title {
    font-size: $m-title;
    font-family: $f-title;
    font-weight: 900;
    text-align: center;
  }
  &__subtitle {
    font-size: $m-subtitle;
    font-family: $f-subtitle;
  }
}

.carousel__img-box {
  filter: brightness(70%);
}

.flechita {
  @media screen and (min-width: 800px) {
    padding: 1rem;
  }
  @media screen and (max-width: 800px) {
    padding: 1.5rem;
  }
  &__box {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    &-link {
      color: white;
      @media screen and (min-width: 800px) {
        font-size: $m-text * 6;
      }
      @media screen and (max-width: 800px) {
        font-size: $m-text * 8;
      }
    }
    &-link:hover {
      color: white;
    }
  }
}